# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - freebsd
  - osx
  - windows
julia:
  - 1.3
  - nightly
env:
  - JULIA_FFTW_PROVIDER=FFTW
  - JULIA_FFTW_PROVIDER=MKL
  - JULIA_NUM_THREADS=2
notifications:
  email: false
# uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("FFTW"); Pkg.test("FFTW"; coverage=true)'
after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); Pkg.dir("FFTW"); using Coverage; Coveralls.submit(Coveralls.process_folder())'

branches:
  only:
  - master
  - gh-pages # For building documentation
  - /^testing-.*$/ # testing branches
  - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags

cache:
  directories:
    - $HOME/.julia/artifacts

jobs:
  exclude:
    - os: freebsd
      env:
        - JULIA_FFTW_PROVIDER=MKL
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate();
                                               Pkg.build("FFTW")'
        - julia --project=docs/ docs/make.jl
      after_success: skip
